extends layout

block content
    #masthead.ui.inverted.vertical.masthead.center.aligned.segment
        .ui.text.container
            h1.ui.inverted.header
                span P
                span.blue S
                span.last E
            h2.ui.subheader
                | PCサポート技術協会
            p.pre
                | IT技術者の、
                | 個々の“知恵”と“行動力”を結集し、
                | 自分たちの生産する“価値”を効率的に高めていくとこを目指し活動しています。
    .ui.vertical.stripe.segment
        .ui.text.container
            h1.ui.center.aligned.header Together as one
            .ui.divider
            p.pre
                | IT技術は急速に進歩しましたが、 企業活動への応用という点では、
                | 日本ではかなり遅れているのが現状です。
                | 当会では、会員のコラボレーションにより、 IT革命の恩恵に縁遠かった企業ユーザ様へ、
                | これまでになかったサービスをご提供するこ同時に、
                | 自己のスキルアップも達成することを目標としています。
            a.ui.huge.button(href=href("about")) More About us...
    .ui.vertical.stripe.quote.segment
        .ui.equal.width.stackable.internally.celled.grid
            .center.aligned.row
                .column
                    .ui.icon.header
                        i.puzzle.icon
                        h2.content
                            | "アプリ関連情報"
                    p.left
                        h4 「順番コンシェル」リリース
                        p.left
                            | タッチパネルで操作する“お客様順番管理システム”「順番コンシェル」がリリースされました。
                            a.item.scale(href=href("develop")) 詳しく
                        h4 現在開発中のアプリ
                        p.left
                            | 歯科医院向けWEB予約アプリとAndroid順番管理アプリを開発中です。リリース次第、このサイトでご連絡いたします。
                            a.item.scale(href=href("develop")) 詳しく
                .column
                    .ui.icon.header
                        i.travel.icon
                        h2.content
                            | "企業の皆様へ"
                    p.pre.left
                        h4 IT経費を見直しませんか？
                        p.pre.left
                            | PCサポート技術者協会は、
                            | 企業とITエンジニアをつなぐ架け橋役を担っております。
                            .ui.floating.message
                                p.left
                                    |「開発したいツールがあるが費用が心配」<br/>
                                    |「PCをリプレースしたい」<br/>
                                    |「WEBサイトをリニューアルしたい」
                        p.pre.left
                            | 等IT系の問題は、会員エンジニアにより適切なソニューションを安価にてご提供することが可能です。是非ご相談ください。
                            a.item.scale(href=href("online-support")) 詳しく
                .column
                    .ui.icon.header
                        i.settings.icon
                        h2.content
                            | "エンジニアの皆様へ"
                    p.pre.left
                        h4 ...
                        p.pre.left
                            | 弊会では、既に日本で活動されているIT系の技術者を会員として広く募集しております。<br/>
                            | WEBデザイン、WEBアプリ開発、サーバ構築、オンサイトサポート等、<br/>
                            | 深い専門知識と経験をお持ちのエンジニア様は、
                            |是非ご入会下さい。
                            a.item.scale(href=href("recruit")) 詳しく
    .ui.vertical.stripe.segment
        .ui.text.container
            h1.ui.header オンサイト導入支援者急募！
            p.pre
                | Androidタブレットで動く順番管理アプリ「順番コンシェル」の現地（顧客店舗または医院）への導入を担当していただけるオンサイト導入スタッフを募集しております。<br/>
                | Android端末、無線LANに詳しく出張サポートのご経験があるカスタマエンジニアは是非ご連絡ください。

            a.ui.large.button(href=href("recruit")) 詳しくはこちら



